<div class="container d-flex justify-content-center align-items-center minHeight-85vh">
  <div class="card shadow" style="max-width: 400px; width: 100%;">
    <div class="card-body">
      <h3 class="text-center mb-4">Forgot Password</h3>
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="mb-3">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" class="form-control"
            [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched" />
          <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="invalid-feedback">
            Please enter a valid email.
          </div>
        </div>

        <button class="btn btn-primary w-100" [disabled]="form.invalid">Send Recovery Email</button>

        <div *ngIf="success" class="alert alert-success mt-3 text-center">
          Recovery email sent successfully!
        </div>

        <div *ngIf="error && !success" class="alert alert-danger mt-3 text-center">
          Failed to send recovery email.
        </div>
      </form>
      <div class="text-center mt-3">
        <button class="btn btn-link" (click)="goToLogin()">Back to Login</button>
      </div>
    </div>
  </div>
</div>